html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #AEC5EB;
    width: 100%;
    background-color: #3A405A;
}

.nav-section ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-section ul li {
    padding: 0 50px;
}

 .nav-section ul li a {
    text-decoration: none;
    font-size: larger;
    color: #AEC5EB;
 }

 .nav-section ul li a:hover {
    font-weight: bold;
    font-size: x-large;
 }

 .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 100%;
    flex: 3;
 }

.header-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   color: #3A405A;
   background-color: #AEC5EB;
   width: 40%;
}

.header-text > * {
   font-size: 40px;
}

 .header-section img {
      margin: 20px;
      margin-top: 200px;
      margin-bottom: 200px;
      margin-left: auto;
      margin-right: 50px;
      border-radius: 20px;
      width: 40%;
      max-height: 600px;
 }

 .project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    color: #AEC5EB;
    background-color: #3A405A;
    width: 100%;
    flex: 3;
 }

 .project-section h2 {
      font-size: x-large;
      font-weight: bold;
      margin-top: 100px;
 }

 .projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
 }

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 300px;
    flex: 2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 1px solid #3A405A;
    border-radius: 10px;
}

 .project img {
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-bottom: 100px;
    border-radius: 20px;
 }

 .project h3 {
    font-size: x-large;
    font-weight: bold;
 }

 .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 100%;
 }


@media screen and (max-width: 600px) {
      .nav-section ul li {
         padding: 0 10px;
      }

      .header-section {
         flex-direction: column;
         align-content: center;
      }

      .header-text > * {
         font-size: 25px;
      }

      .header-text {
         width: 80%;
         text-align: center;
      }

      .header-section img {
         width: 70%;
         margin: 0;
         margin-bottom: 20px;
      }

      .project-section {
         padding-left: 20px;
         padding-right: 20px;
      }

      .projects {
         flex-direction: column;
         align-items: center;
      }
      .project {
         width: 80%;
         margin: 50px;
      }
      .project img {
         width: 80%;
         height: 80%;
         /* margin: 20px; */
      }
}

