html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #AEC5EB;
    width: 100%;
    background-color: #3A405A;
}

.nav-section ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-section ul li {
    padding: 0 50px;
}

 .nav-section ul li a {
    text-decoration: none;
    font-size: larger;
    color: #AEC5EB;
 }

 .nav-section ul li a:hover {
    font-weight: bold;
    font-size: x-large;
 }

 .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 100%;
    flex: 2;
 }

 .header-section img {
      width: 400px;
      height: 400px;
      margin-left: 30px;
      border-radius: 2em;
 }

 .project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: #AEC5EB;
    background-color: #3A405A;
    width: 100%;
    flex: 2;
 }

 .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
 }

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 300px;
    flex: 2;
    margin: 20px;
    border: 1px solid #3A405A;
    border-radius: 10px;
}

 .project img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 2em;
 }

 .project h3 {
    font-size: larger;
    font-weight: bold;
 }

 .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: #3A405A;
    background-color: #AEC5EB;
    width: 100%;
 }


@media screen and (max-width: 600px) {
   .nav-section ul li {
      padding: 0 10px;
   }
   .nav-section ul li a {
      font-size: medium;
   }
   .header-section img {
      width: 200px;
      height: 200px;
   }
   .project img {
      width: 100px;
      height: 100px;
   }
   .project h3 {
      font-size: medium;
   }
}

